/* header section */
.top-banner {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.banner-text {
    margin: 0px;
}

.top-banner h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 15%;
    color: #fff;
    margin: 0;
}

.top-banner p {
    text-align: center;
    color: #fff;
    padding: 10px;

}

.link-button {
    position: absolute;

    background-color: salmon;
    top: 67%;
    left: 44%;
    margin: 10px 10px;
    padding: 15px 20px;
    border-radius: 10px;
}

.link-button a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;


}

/* 2nd section Donate today....................................................................................................... */
.Donate-today h2 {
    text-align: center;
    padding-top: 3%;
    font-size: 40px;
}

.Donate-today p {
    color: rgb(99, 96, 96);
    text-align: center;
    padding: 10px;
}

.box h2 {
    width: 100px;
    height: 60px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 26px;
    border-radius: 10px;


    background: rgb(247, 245, 245);

}

.box h3 {
    width: 100px;
    height: 60px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 26px;
    border-radius: 10px;
    font-size: 40px;

    background: rgb(250, 218, 218);

}

.dollar-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 280px;
}

#dollar {
    border-radius: 10px;
    border: 2px solid red;

}

.Donate-today h4 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    color: rgb(206, 204, 204)
}

hr {
    width: 56%;
    margin-left: 22%;
}

.link-button-two {
    position: absolute;
    background-color: salmon;
    top: 161%;
    left: 44%;
    padding: 15px 20px;
    margin: 10px 9px;
    border-radius: 10px;
}

.link-button-two a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;

}

/* 3rd section donate plan */

.Donate-plan h2 {
    text-align: center;
    padding-top: 12%;
    font-size: 40px;
}

.Donate-plan p {
    color: rgb(99, 96, 96);
    text-align: center;
    padding: 10px;
}

.plan {
    text-align: center;
    width: 250px;
    height: 220px;
    background-color: rgb(184, 236, 236);
    padding: 20px 20px;
    padding-top: 5%;
    border-radius: 10px;
}

.food-plan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.plan {
    margin: 20px 20px;
}

#p1 {
    background: rgb(231, 249, 195);
}

#p2 {
    background: rgb(195, 249, 226);
}

/* 4rth section Update Form */

.update-form h2 {
    text-align: center;
    padding-top: 3%;
    font-size: 40px;
}

.update-form p {
    color: rgb(99, 96, 96);
    text-align: center;
    padding: 10px;
    margin: 14px;
}

.mail {
    width: 451px;
    height: 127px;
    background: #f7fec6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    margin-left: 30%;
    margin-bottom: 10%;
    border-radius: 10px;
}

.m1 {
    /* padding: 10px 116px; */
    margin: 0px;
    background-color: rgb(213, 210, 210);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    padding: 10px;
    padding-left: 10px;
    padding-right: 150px;
    margin-left: 0;
    text-align: left;

}

.m1 a {
    color: rgb(160, 158, 158);
    text-decoration: none;
    padding-left: 0;
    margin-left: 0;
    text-align: left;
}

.sub {
    padding: 10px 28px;
    margin: 0px;
    background-color: red;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sub a {
    text-decoration: none;
    color: #fff;
}

/* 5th section last part footer */

.footer {
    background: rgb(26, 13, 13);
    width: 100%;
    height: 40%;
    padding: 50px 0;
    text-align: center;
}

.footer h2 {
    color: yellow;
    padding: 5px 5px;
    font-family: 'Lobster', cursive;
}

.footer h4 {
    color: #fff;
    padding: 8px 5px;
    font-size: small;
    font: 300;

}